<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordering.repository.OrderMapper">

  <!--検査の削除-->
  <delete id="delete">
    DELETE FROM inspection_orders
    WHERE id = #{id}
  </delete>


  <!-- 全件取得-->
  <insert id="insert">
    <!--    UUIDの発行-->
    <selectKey keyProperty="id" order="BEFORE" resultType="string">
      SELECT REPLACE(UUID(), '-', '')FROM DUAL
    </selectKey>


    <!--    新規検査依頼-->
    INSERT INTO inspection_orders(
    id,
    patient_show_id,
    inspection_id,
    status,
    inspection_details,
    inspection_date,
    created_by,
    created_at,
    updated_by,
    updated_at,
    deleted_by,
    deleted_at
    )
    VALUES(
    #{id},
    #{patientShowId},
    #{inspectionId},
    #{status},
    #{inspectionDetails},
    #{inspectionDate},
    #{createdBy},
    CURRENT_TIMESTAMP,
    null,
    null,
    null,
    null
    )
  </insert>


  <!--  検査の詳細取得-->
  <select id="selectById">
    SELECT
    id,
    patient_show_id,
    inspection_id,
    status,
    inspection_details,
    inspection_date,
    created_by,
    created_at,
    updated_by,
    updated_at,
    deleted_by,
    deleted_at
    FROM inspection_orders
    WHERE id = #{id}
  </select>

  <!--  検査の一覧表示-->
  <select id="selectAll">
    SELECT
    io.id,
    io.patient_show_id,
    p.name AS patientName,
    io.inspection_id,
    io.status,
    io.inspection_details AS details,
    io.inspection_date AS date,
    io.created_by,  
    io.created_at,
    io.updated_by,
    io.updated_at,
    io.deleted_by,
    io.deleted_at
    FROM inspection_orders io
    INNER JOIN patients p ON io.patient_show_id = p.show_id
  </select>


  <!--  検査の更新-->
  <select id="selectAllByPatientId">
    SELECT
    io.id,
    io.patient_show_id,
    io.inspection_id,
    io.status,
    io.inspection_details,
    io.inspection_date,
    io.created_by,
    io.created_at,
    io.updated_by,
    io.updated_at,
    io.deleted_by,
    io.deleted_at
    FROM inspection_orders io
    INNER JOIN patients p ON io.patient_show_id = p.show_id
    WHERE io.patient_show_id = #{patientShowId}
  </select>


  <update id="update">
    UPDATE inspection_orders SET
    inspection_id = #{inspectionId},
    inspection_date = #{inspectionDate},
    status = #{status},
    inspection_details = #{inspectionDetails},
    updated_by = #{updatedBy},
    updated_at = CURRENT_TIMESTAMP
    WHERE id = #{id}
  </update>


</mapper>