
.patientName {
  font-size: 30px;

}

 .header {
  background-color: #BFDE14;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
 }

 .main {
   grid-row: 2 / 3;
   background-color: #BFDE14;
   padding: 10px;
   border-right: 1px solid #ddd;
   display: flex;
   width: 1920px;
  }

  .patientInformation {
  width: 300px;
  flex: 1;
  }


.inspection_list {
  border: 2px solid #000; /* 太さ: 2px、スタイル: solid、色: 黒 */
  padding: 10px; /* 内側の余白 */
  margin: 10px; /* 外側の余白 */
  border-collapse: collapse;
  }

th, td {
  border: 1px solid black; /* 各セルの枠線を黒の実線で指定 */
  padding: 8px; /* セル内の余白を指定 */
  text-align: left; /* テキストを左揃えに指定 */
    }


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40px;
  height: 20px;
  padding: 8px 24px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #6fa24a;
  border-radius: 10px
}


.button:hover {
  background: #268425;
  color: #ff701e;
}