<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>検査一覧</title>
  <link href="/static/css/index.css" rel="stylesheet" type="text/css">
  <style>


  </style>
</head>
<body>
<header>
  <form method="get" th:action="@{/searchPatient}">
    <p>患者ID検索：<input name="showId" type="number"></p>
    <button type="submit">検索</button>
  </form>

</header>
<h1>検査一覧画面</h1>
<h2>ログインアカウント名:<span th:text="${authentication.getName()}"></span></h2>

<p th:text="${message}"></p>
<table class="inspection_list">
  <tr>
    <th>No.</th>
    <th>検査名</th>
    <th>検査日時</th>
    <th>検査詳細</th>
  </tr>
  <tr th:each="order, no:${order}">
    <td th:text="${no.count}"></td>
    <td th:text="${order.name}"></td>
    <td th:text="${order.date}"></td>
    <td class="de" th:text="${order.details}"></td>
    <td><a class="button" th:href="@{/inspectionDetails/{id}(id=${order.id})}">詳細</a>
    </td>
  </tr>
</table>
<a th:href="@{newOrder}">検査新規登録</a>
<a th:href="@{newPatient}">患者新規登録</a>
<a th:href="@{newPatient}">患者編集</a>
<a th:href="@{/}">一覧を更新</a>


<form method="post" th:action="@{/logout}">
  <button type="submit">ログアウト</button>
</form>

</body>
</html>