<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    select {
    width: 300px;
    padding: 10px;
    border: 1px solid #b6b5b5;
    color: #757373;
  }

    .inspectionComment {
      width: 366px;
      height: 191px;
    }

    .box {
    border: solid 8px red;
    width: 964px;
    }
  </style>
</head>
<body>
<p>こんばんは</p>
<p th:text="${name}"></p>
<p th:text="${message}"></p>

<div class="box">
  <p>こちらpostバージョン</p>
  <form method="post" th:action="@{/inspectionSubmit}" th:object="${OrderForm}">
    <p>依頼名：
      <select th:field="*{inspection}">
        <option value="選択">選択</option>
        <option value="採血">採血</option>
        <option value="心電図">心電図</option>
        <option value="胸部レントゲン">胸部レントゲン</option>
        <option value="CT">CT</option>
        <option value="MRI">MRI</option>
      </select>
    </p>
    <p>検査日：<input th:field="*{date}" type="date"></p>
    <p>依頼内容<textarea class="inspectionComment" th:field="*{content}"></textarea></p>
    <p><input type="submit" value="登録"></p>
    <div style="color: red;" th:errors="*{content}"
         th:if="${#fields.hasErrors('content')}"></div>
    <div style="color: red;" th:if="${#fields.hasGlobalErrors()}">
      <ul>
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>
    </div>
  </form>

  <span th:if="${OrderForm.inspection}!=null" th:text="この内容で登録しました"></span>
  <span th:if="${OrderForm.inspection}!=null" th:text="${OrderForm.inspection}"></span>
  <span th:if="${OrderForm.inspection}!=null" th:text="${OrderForm.date}"></span>
  <span th:if="${OrderForm.inspection}!=null" th:text="${OrderForm.content}"></span>

</div>
</body>
</html>