<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログイン画面</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>


<p th:if="${message}" th:text="${message}"></p>


<div class="container-fluid d-flex vh-100 justify-content-center align-items-center w-50">

  <h1 class="fw-bold fs-2 mb-4 me-5">ログイン画面 </h1>
  <form method="post" th:action="@{/login}">
<div>
 <a th:href="@{/userRegister}">※ユーザー登録</a> <p>してからログインしてください。</p>
</div>
    <div class="mb-3">
      <label class="form-label" for="exampleInputName">登録名</label>
      <input aria-describedby="emailHelp" class="form-control" name="name"
             type="text">
      <div class="form-text" id="emailHelp">名字と名前の間に半角を入れてください</div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleInputPassword1">Password</label>
      <input class="form-control" name="pass" type="password">
    </div>
    <button class="btn btn-primary" type="submit">ログイン</button>
  </form>

</div>


<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>