<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    select {
 width: 300px;
 padding: 10px;
 border: 1px solid #b6b5b5;
 color: #757373;
}

 .inspectionComment {
   width: 366px;
   height: 191px;
 }

  </style>
</head>
<body>

<h1 th:if="${formInspectionOrderDto.orderId == null}">検査依頼の新規登録画面</h1>
<h1 th:if="${formInspectionOrderDto.orderId != null}">検査依頼の編集画面</h1>

<p th:text="${message}"></p>
<form method="post"
      th:action="${formInspectionOrderDto.orderId == null} ?@{/newOrderSubmit} : @{/editInspectionSubmit}"
      th:object="${formInspectionOrderDto}">

  <!--  見えない部分だが入れておく必要がある項目（送りたい項目）　-->
  <input th:field="*{orderId}" type="hidden">
  <input th:field="*{patientShowId}" type="hidden">
  <!--  <input th:field="*{createdBy}" type="hidden">-->
  <!--  <input th:field="*{updatedBy}" type="hidden">-->
  <!--  ここまで-->

  <!--入力欄-->
  <p>依頼名：
    <select th:field="*{inspectionId}">
      <option value="選択">選択</option>
      <option th:each="inspection : ${formInspectionOrderDto.inspections}"
              th:text="${inspection.name}"
              th:value="${inspection.id}"></option>
    </select>
  </p>
  <p>検査日：<input th:field="*{date}" type="datetime-local"></p>
  <p>依頼内容<textarea class="inspectionComment" th:field="*{details}"></textarea></p>
  <!--  <p th:if="${order.number} == 0">作成者:<input th:field="*{createdBy}"-->
  <!--                                                     type="text"-->
  <!--                                                     value="${authentication}"></p>-->

  <!--  <p th:if="${order.number} == 1">更新者:<input th:field="*{updatedBy}"></p>-->
  <p><input th:if="${formInspectionOrderDto.orderId} == null" type="submit" value="登録"></p>
  <p><input th:if="${formInspectionOrderDto.orderId} != null" type="submit" value="更新"></p>
  <div style="color: green;" th:errors="*{details}"
       th:if="${#fields.hasErrors('details')}"></div>
  </div>
</form>
</body>
</html>