<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <style>
    select {
 width: 300px;
 padding: 10px;
 border: 1px solid #b6b5b5;
 color: #757373;
}

 .inspectionComment {
   width: 366px;
   height: 191px;
 }

  </style>
</head>
<body>

<header>
  <!--  ナビゲーション-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand navi-font"
         th:href="@{/searchPatient(showId=${formInspectionOrderDto.PatientShowId})}"
      >＜＜患者詳細画面へ戻る</a>


      <div class="d-flex justify-content-end">
        <h2>ログイン名:<span th:text="${#authentication.name}"></span></h2>
      </div>
    </div>
  </nav>
</header>
</header>


<h1 th:text="${formInspectionOrderDto.orderId == null} ? '検査依頼の新規登録画面' : '検査依頼の編集画面'"></h1>


<p th:text="${message}"></p>
<form method="post"
      th:action="${formInspectionOrderDto.orderId == null} ?@{/newOrderSubmit} : @{/editOrderSubmit}"
      th:object="${formInspectionOrderDto}">

  <!--  見えない部分だが入れておく必要がある項目（送りたい項目）　-->
  <input th:field="*{orderId}" type="hidden">
  <input th:field="*{patientShowId}" type="hidden">
  <input th:field="*{status}" th:value="未実施" type="hidden">

  <!--  <input th:field="*{createdBy}" type="hidden">-->
  <!--  <input th:field="*{updatedBy}" type="hidden">-->
  <!--  ここまで-->

  <!--入力欄-->
  <div class="container mt-5">
    <label>検査名</label>
    <select aria-label=".form-select-lg example" class="form-select form-select-lg mb-3"
            th:field="*{inspectionId}">
      <option selected th:value="0">選択</option>
      <option th:each="inspection : ${formInspectionOrderDto.inspections}"
              th:text="${inspection.name}"
              th:value="${inspection.id}"></option>
    </select>
    <!--  <p>検査日：<input th:field="*{date}" type="datetime-local"></p>-->
    <div class="mb-3">
      <label class="form-label" for="datetimepicker">検査日時</label>
      <input class="form-control" id="datetimepicker" th:field="*{date}" type="text">
    </div>

    <div class="form-floating">
      <textarea class="form-control" id="exampleFormControlTextarea"
                placeholder="コメントを入力してください" style="height:500px;"
                th:field="*{details}"></textarea>
      <label class="form-label" for="exampleFormControlTextarea">依頼内容</label>
    </div>

    <p><input th:value="${formInspectionOrderDto.orderId == null} ? '登録' : '更新'" type="submit">
    </p>

    <div style="color: red;" th:errors="*{details}"
         th:if="${#fields.hasErrors('details')}"></div>
  </div>
</form>


<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>